body{
    background-image: url("photo-1518655048521-f130df041f66.jpg");
    background-size: cover;
}
.bx--row{
    margin-top: 4rem;
    margin-left: 4rem;
}
.bx--btn--primary{
    border-radius: 25px;
    text-align: center !important;
    text-decoration: none;
    padding-right: 1rem !important;
}
.zindex{
    z-index: 99;
    position: absolute;
    margin-left: -40rem;
}
.contactmargin{
    margin-top: 1rem;
    margin-left: 4rem;
}
h1,h2,h4,h5,p{
    font-family: sans-serif;
    font-style: normal;
    text-align: left;
}
.display{
    margin-right: 44rem;
}
.click{
    margin-right: 24rem;
}
.read{
    margin-right: 35rem;
}
.details{
    margin-left: 2rem;
}
.register{
    margin-right: 32rem;
}
